body {
	font-family: "georgiapro", Georgia, Garamond, serif;
	font-weight: 400;
	font-style: normal;
}

.header-container {
	background-image: url("img/background.jpg");
	background-size: cover;
	background-position: center;
}

@supports (background-image: url('img/background.webp')) {
	.header-container {
		background-image: url("img/background.webp");
	}
}


.header-container-col {
	container-name: header;
	container-type: inline-size;
}


@container header (min-width: 0px) {
	.name {
		font-family: "bd-geminis", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: white;
		font-size: 12.5cqw;
		line-height: 1.5;
	}
}


.sidebar-container-col {
	container-name: sidebar;
	container-type: inline-size;
}

@container sidebar (min-width: 0px) {
	img {
		width:100cqw;
		height:100cqw;
		object-fit: cover;
		object-position: top;
	}
}


h2 {
	line-height: 2.0rem;
	transform: translateY(-0.30rem);
}

h2 span {
	transform: translateY(0.20rem);
}


@media (max-width:576px) {
	.content-section {
	}

	.content-section-body {
		animation-name: expand-content-section;
		animation-direction: normal;
		animation-duration: 0.25s;
		animation-play-state: paused;
		animation-fill-mode:forwards;
		overflow: hidden;
	}


	@keyframes expand-content-section {
		0% {
			max-height: 0px;
		}
		100% {
			max-height: 2000px;
		}
	}
}
